$background-gray: #f3f1ef;

home-page {
	> div {
		position: relative;
		border: 1px solid #c3c3c3;
		background-color: white;
	}
	h1 {
		text-align: center;
		font-family: 'Vollkorn SC', serif;
	}

	hr {
		width: 100px;
	}

	.header {
		height: 600px;
		position: relative;
		.background {
			box-shadow: none;
			background-image: url('../images/banner-decor.jpg');
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-position: center;
			background-repeat: no-repeat;
		}

		.white-background {
		    background-color: white;
		    position: absolute;
		    top: 40px;
		    bottom: 40px;
		    left: 30px;
	    	right: 30px;
	    	opacity: .8;

	    	@include small-screens-only {
	    		top: 65px;
	    		bottom: 65px;
	    		left: 10px;
	    		right: 10px;
	    	}
		}

		.text-container {
			z-index: 10;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;

			h3 {
				text-align: center;
				font-size: 40px;
			}

			p {
				text-align: center;
			}

			.wrapper {
				margin: 225px 50px;
			}

			@include small-screens-only {

				 h3 {
				 	font-size: 37px;
				 }
			}
		}

	}

	.info-banner {
		height: 100px;
		font-size: 25px;
		text-align: center;
		border-bottom: none;

		h2 {
			padding: 30px;
		}
	}

	.companyExplanation {
		height: 600px;
		background-color: white;
		padding: 60px 10px 40px 10px;

		h2 {
			text-align: center;
		}

		p {
			padding: 60px 5px 20px 5px;
			text-align: justify;
		}

		@include medium-screens-up {
			padding: 60px;

			h2 {
				margin-top: 40px;
			}
		}

		@include small-screens-only {
			h2 {
				font-size: 27px;
			}
		}
	}
}