
<div class="header">
	<div class="background"></div>
	<div class="white-background"></div>
	<div class="text-container">
		<div class="wrapper">
			<h3>The Green Gallery</h3>
			<p>A Collection of Mother Nature’s Cannabis (to Appreciate).</p>
		</div>
	</div>
</div>
<div class="companyExplanation">
	<h2>This Gallery Has Standards</h2>
	<hr>
	<p>Always looking out for and sharing pictures of these amazing creations and extractions as they manifest. Quality and Safety are paramount in standards of this gallery. Artistry, refinement, and craftsmanship are the markers of excellence that inspire this curation of these sticky gems.</p>
</div>
<!-- <div class="info-banner">
	<h2>Our Pictures</h2>
</div> -->
<!-- <div class="products">
	<div ng-repeat="product in homepage.productCategories">
		<carousel header="product.name" images="product.images"></carousel>
	</div>
</div> -->



