<html lang="en">
<head>
	<!-- Require meta Tag -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- App Styles -->
	<link rel="stylesheet" type="text/css" href="app/styles/styles.css">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="app/styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app/styles/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="app/styles/bootstrap-reboot.min.css">

</head>
<body ng-app="app" ng-controller="appController">
  	<navigation ng-if="isLoggedIn" navigation></navigation>	
	
	<div ui-view></div>
	
	<footer ng-if="isLoggedIn"></footer>
	<!-- Two different modals to handle failed interpolation -->
	<modal ng-if="modalInfo.applicationModal" controller-name="appController" modal-template="app/modal-templates/application-modal.html"></modal>
	<modal ng-if="modalInfo.employmentModal" controller-name="appController" modal-template="app/modal-templates/employment-modal.html"></modal>
	<modal ng-if="modalInfo.productModal" controller-name="appController" modal-template="app/modal-templates/product-modal.html"></modal>
	<!-- application -->
	<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.48.min.js"></script>
	<script type="text/javascript" src="app/js/vendors.min.js"></script>
	<script type="text/javascript" src="app/js/app.min.js"></script>
</body>
</html>
