<fieldset class="footer">
	<legend>
		<img height="60" src="app/images/plog.png">
	</legend>
	<p>Copyright &copy; 2020  The Green Gallery</p>
	<ul>
		<li ng-repeat="item in footer.routes" ng-click="footer.navigate(item.route)" ng-bind="item.format"></li>
	</ul>
</fieldset>