<div id="navigation">
	<div class="navigation-bar">
		<p ng-click="navigation.navigate('home')">The Green Gallery</p>
		<i class="icon-menu" ng-show="!navigation.menuSettings.isMenuOpen" ng-click="navigation.toggleMenu()"></i>
		<i class="icon-minus" ng-show="navigation.menuSettings.isMenuOpen" ng-click="navigation.toggleMenu()"></i>
	</div>
	<div class="navigation-menu animate" ng-if="navigation.menuSettings.isMenuOpen">
		<ul>
			<li ng-repeat="item in navigation.routes" ng-click="navigation.navigate(item.route)" ng-bind="item.format"></li>
		</ul>
	</div>
</div>