<div id="carousel">
	<h3>{{ header }}</h3>
	<hr />
	<img class="carouselImg" ng-repeat="imagePath in carousel.imagePaths track by $index" ng-src="{{imagePath}}" ng-show=" $index === carousel.picIndex " />
	<button ng-if="carousel.isManual" ng-click="carousel.increment()">Increment</button>
	<button ng-if="carousel.isManual" ng-click="carousel.decrement()">Decrement</button>
</div>