<div id="products">
	<h2>Pictures From the Gallery</h2>
	
	<div class="banner"></div>
	<div class="content">
		<div class="filter-container">
			<filter></filter>
		</div>
		<div class="product-list container">
			<div ng-repeat="product in products.products" ng-click="products.openModal(product)" ng-if="products.checkAvailability(product) && !product.soldout && (!products.itemToInclude.length || products.productIncluded(product))" class="product">
				<span ng-class="[product.type, 'strand-type']" ng-bind="product.type"></span>
				<p ng-if="products.collection.includes(product)" ng-click="products.removeItemFromCollection(product)">x</p>
				<div class="img-placeholder">
					<p ng-if="!product.images || !product.images.length">No image</p>
					<img ng-if="product.images && product.images.length" ng-src="https://green-valley-image-bucket.s3.us-east-2.amazonaws.com/{{product.images[0]}}" />
				</div>
				<h4 ng-bind="product.name"></h4>
				<p>SN: #{{product.serial}}</p>
				<p class="thc">Level: {{product.thc}}</p>
				<h5 ng-if="product.servings.length">Points:</h5>
				<p ng-repeat="serving in product.servings">{{ serving.price }}  {{serving.amount}}</p>
				<div class="product-modal" ng-if="products.isModalOpen && products.name === product.name">
						<div class="product-modal-content">
							<button ng-click="products.closeModal($event)" >Close</button>
							<img ng-src="https://green-valley-image-bucket.s3.us-east-2.amazonaws.com/{{product.images[0]}}"/>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>