#products {
	padding: 30px auto;
	margin: 30px 5px;
	h1 {
		text-align: center;
		font-family: 'Vollkorn SC', serif;
	}

	.banner {
		height: 300px;
		background-image: url('../images/banner-decor.jpg');
		background-position: center;
		background-size: 800px;
		background-repeat: no-repeat;
	}

	.content {
		display: flex;
		padding: 30px 20px;
		@include medium-screens-down {
			display: block;
		}

		.filter-container {
			flex-grow: 1;
		}

		.product-list {

			flex-grow: 2;
		}
	}

	.product-list {
		@include medium-screens-down {
			padding: 0;
		}

		.product {
			display: inline-block;
			margin: 5px;
			box-shadow: 1px 1px 5px #ccc;
			width: 220px;
			height: 500px;
			padding: 10px;
			overflow-x: hidden;
			vertical-align: top;
			cursor: pointer;

			@include small-screens-only {
				width: 100%;
			}

			&:active {
				box-shadow: none;
				background-color: #ccc;
			}
			
			.strand-type {
				border: 2px solid;
				border-radius: 8px;
				padding: 2px;
			}

			.indica {
				color: purple;
			}

			.hybrid {
				color: green;
			}

			.sativa {
				color: orange;
			}
			.img-placeholder {
				width: 100%;
				min-height: 200px;
				background-color: black;
				margin: 5px auto;
				display: block;
				position: relative;
				overflow: hidden;
				color: white;

				img {
					height: 200px;
				}
			}

			.thc {
				color: green;
			}

			button {
				background-color: white;
				border: none;
				transition: background-color 200ms linear;
				display: block;
				margin: 5px auto;

				&:hover {
					background-color: rgba(0, 0, 0, .5);
				}
			}
		}

		h3 {
			text-align: center;
		}
		img {
			display: block;
			margin: 0 auto;
		}

		.product-summary {
			margin-top: 15px;
		}
	}

	.product-modal {
		background-color: rgba(0, 0, 0, .5);
		position: fixed;
		z-index: 100;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;

		.product-modal-content {
			background-color: white;
			height: 600px;
			width: 100%;
			padding: 30px;
			overflow-x: scroll;
			scroll-behavior: smooth; 

			strong {
				cursor: pointer;

				&:hover {
					background-color: #ccc;
				}
			}

			img {
				margin-top: 10px;
				height: 450px;

				@include small-screens-only {
					height: 300px;
				}
			}
		}
	}
}