#admin {
	margin: 40px;
	input {
		width: 100%;
	}

	i {
		display: block;
	}

	.cat-wrapper {
		height: 100px;
		max-height: 125px;
		overflow-y: scroll;
	}

	.cat-selection {
		list-style: none;

		border-bottom: 1px solid #ccc;

		&:hover {
			background-color: rgb(226, 226, 226);
		}


		&:active {
			background-color: rgb(134, 133, 133);
		}

	}

	button {

		&.cancel-edit {
			background-color: crimson;
			color: white;
		}

		&.edit-admirer {
			background-color: cornflowerblue;
			color: white;
		}

		&.serving-button {
			display: block;
			width: 300px;
		}

		transition: box-shadow 0.3s ease-in-out;
		box-shadow: none;
		background-color: white;
		border: 1px solid #888;
		border-radius: 2px;
		margin-right: 13px;
		height: 40px;

		&:hover {
			box-shadow: 0 5px 10px #888;
		};

		&:active {
			box-shadow: 0 0px 1px #888;
		};
	}
}