<div id="admin">
	<h1>Admin Dashboard</h1>
	<p>Create Your Picture</p>
	<form>
		<label>
			<p>Type</p>
			<select class="form-control" ng-model="admin.form['type']"  ng-disabled="admin.productConfigured">
				<option ng-repeat="item in admin.typeOptions track by item" >{{ item }}</option>
			</select>
		</label>
		<label>
			<p>THC Strength</p>
			<select class="form-control" ng-model="admin.form['thc']" ng-disabled="admin.productConfigured" >
				<option ng-repeat="item in admin.thcOptions track by item" >{{ item }}</option>
			</select>
		</label>
		<label>
				<p>Category</p>
				<select class="form-control" ng-model="admin.form['category']" ng-disabled="admin.productConfigured" >
					<option ng-repeat="item in admin.categoryOptions track by item" >{{ item }}</option>
				</select>
			</label>
			<label>Sub Category
				<input class="form-control"  
						name="subcategory" 
						ng-model="admin.form['subcategory']"
						ng-disabled="admin.productConfigured"
						ng-focus="admin.subCategoriesFocus()"
						>
				<ul ng-show="admin.subMenuOpen" class="cat-wrapper">
					<li class="cat-selection" ng-repeat="category in admin.subcategories" ng-click="admin.selectCategory(category)"> {{ category}}</li>
				</ul>
			</label>
			<label>Item
				<input class="form-control"  
						name="item" 
						ng-model="admin.form['item']"
						ng-disabled="admin.productConfigured"
						ng-focus="admin.itemFocus()"
						>
						<ul ng-show="admin.itemMenuOpen" class="cat-wrapper">
							<li class="cat-selection" ng-repeat="item in admin.items" ng-click="admin.selectItem(item)"> <p> {{ item}} </p></li>
						</ul>
			</label>
			<label>Source
					<input class="form-control"  
							name="source" 
							ng-model="admin.form['source']"
							required="true"
							ng-disabled="admin.productConfigured"
							>
			</label>
			<label>THC %
				<input class="form-control"  
						name="thcPercentage" 
						ng-model="admin.form['thcPercentage']"
						ng-disabled="admin.productConfigured"
						>
			</label>
			<label>CBD %
				<input class="form-control"  
						name="cbdPercentage" 
						ng-model="admin.form['cbdPercentage']"
						ng-disabled="admin.productConfigured"
						>
			</label>
			<label>Doses
				<input class="form-control"  
						name="doses" 
						ng-model="admin.form['doses']"
						ng-disabled="admin.productConfigured"
						>
			</label>
		</div>
		<label  class="col col-sm-12 col-md-6 col-lg-6">Name
				<input class="form-control"  
						name="name" 
						ng-model="admin.form['name']"
						required="true"
						ng-disabled="admin.productConfigured"
						>
		</label>
		<label  class="col col-sm-12 col-md-6 col-lg-6">Serial
				<input class="form-control"  
						name="serial" 
						ng-model="admin.form.serial"
						required="true"
						ng-disabled="admin.productConfigured"
						>
		</label>		
		<label  class="col col-sm-12 col-md-6 col-lg-6">Source
				<input class="form-control"  
						name="source" 
						ng-model="admin.form['source']"
						required="true"
						ng-disabled="admin.productConfigured"
						>
		</label>
		<label  class="col col-sm-12 col-md-6 col-lg-6">Add Servings
				<input class="form-control"  
						name="price" 
						ng-model="admin.form.potentialServing.price"
						required="true"
						ng-disabled="admin.productConfigured"
						>
				<select class="form-control" ng-disabled="admin.productConfigured"  ng-model="admin.form.potentialServing.serving">
					<option ng-repeat="serving in admin.servings" >{{ serving}}</option>
				</select>		
		</label>
		<button class="serving-button" ng-click="admin.addServing()">Add Serving</button>
		<label>
				Is for Loyalty Rewards?
				<input type="checkbox" ng-model="admin.form.isLimited" />
		</label>

		<h4 ng-if="admin.form.servings.length > 0" >Servings</h4>
		<hr ng-if="admin.form.servings.length > 0" />
		<ul>
			<li ng-repeat="serving in admin.form.servings">
					{{ serving.price }}  {{serving.amount}} 
					<button ng-click="admin.removeServing($index)">Remove</button>
			</li>
		</ul>
		<hr ng-if="admin.form.servings.length > 0" />
		<div ng-show="admin.productConfigured" img-upload method="POST" form-details="admin.form" url="webfreaks.in/dummyService"></div>
	</form>
	<button ng-show="admin.productConfigured" ng-click="admin.addProduct(admin.form)" >Add Product</button>
	<i ng-show="!admin.productConfigured">*Finalize the information above and then you can upload images</i>
	<button ng-show="!admin.productConfigured" ng-click="admin.configured()" >Continue</button>
<hr />



<h3>All current pictures</h3>
<ul>
	<li ng-repeat="item in admin.products">
		<strong>
			{{ item.name}}
		</strong>
		<button ng-click="admin.editProduct(item)">Edit</button>
		<button ng-click="admin.removeProduct(item)">Delete</button>
	</li>
</ul>

<hr />
<div ng-if="admin.user.clientId === 'president'">
<h4>Admirers</h4>
<hr />
<h5>Create New Admirer</h5>
<form>
		<label>
				<p>Type of Admirer</p>
				<select class="form-control"  ng-model="admin.userForm['type']">
					<option ng-repeat="type in admin.clientOptions" >{{ type }}</option>
				</select>
		</label>
		<label class="col col-sm-12 col-md-6 col-lg-6">Id
				<input class="form-control"  
						name="name" 
						ng-model="admin.userForm['clientId']"
						required="true"
						ng-disabled="admin.isEdit"
						>
		</label>
		<button ng-click="admin.generateNewId('clientId')" >Generate Random Client ID</button>
		<label  class="col col-sm-12 col-md-6 col-lg-6">Password
				<input class="form-control"  
						name="password" 
						ng-model="admin.userForm['password']"
						required="true"
						ng-disabled="admin.isEdit"
						>
		</label>
		<button ng-click="admin.generateNewId('password', 'gvxxx$$xxx')" >Generate Random Password</button>
		<button ng-if="!admin.isEdit" ng-click="admin.createUser()" >Add Admirer</button>
		<button ng-if="admin.isEdit" class="cancel-edit" ng-click="admin.cancelUpdate()" >Cancel Edit </button>
		<button ng-if="admin.isEdit" class="edit-admirer" ng-click="admin.submitEdit()" >Edit Admirer</button>
	</form>

	<ul>
			<li ng-repeat="admirer in admin.clients" >
				<strong>
					{{ admirer.clientId}} -{{admirer.access}}
				</strong>
				<button ng-click="admin.removeAdmirer(admirer)" ng-if="admirer.clientId !== 'president'">Delete</button>
				<button ng-click="admin.updateUser(admirer)" ng-if="admirer.clientId !== 'president'">Edit</button> 
			</li>
		</ul>
</div>		
</div>