<div id="about">
	<h2>
		What is The Reserves?
	</h2>
	<hr>
	<p>
		"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
	</p>
	<hr>
	<div class="history">		
		<div class="president">
			<img height="400" src="app/images/girl_in_coffee_shop.jpeg">
			<!-- <i>Scott Terry, President and Ceo of The Reserve</i>	 -->
		</div>
		<div>
			<p>
				The Reserve was started in 2017 by Scott Terry in Chicago, IL. The company was born out of the idea of having multiple
				businesses, but needing a central place to manage the businesses. There was a need to balance the investment of each business
				without letting another fall behind. From that The Reserve was born taking on 3 initial businesses owned by Scott Terry. Apptex, 
				Vlace, and LockSpace. 
			</p>
		</div>
	</div>
</div>