#employment {
	text-align: center;
	margin-top: 20px;
	li {
		list-style: none;
	}
	.position {
		position: relative;

		i {
			display: none;
		}

		.description {
			padding: 15px 65px 0;
		}

		.requirements {
			text-align: justify;
			display: block;
			margin: 0 auto;
			max-width: 550px;
			padding: 20px 10px;
		}

		@include small-screens-only {
			.header {
				h3 {
					padding: 0 20px;
					font-size: 25px;
				}
				i {
					position: absolute;
					display: inline;
					top: 0;
					right: 12px;
				}
			}

			.upward-arrow {
				transform: rotate(-135deg);
				top: 10px !important;
			}

			.details {
				transition: 300ms linear all;
				max-height: 0px;
				overflow: hidden;
			}

			.show-details {
				max-height: 100vh;	
			}	

			.description {
				padding: 15px 16px 0;
				text-align: justify;
				font-size: 15px;
			}

			.requirements {
				.heading {
					text-align: center;
				}
				li {
					text-align: left;
				}
			}
		}
	}


	button {
		transition: box-shadow 0.3s ease-in-out;
		box-shadow: none;
		background-color: white;
		border: 1px solid #888;
		border-radius: 2px;
		width: 120px;
		margin-right: 13px;
		height: 40px;

		&:hover {
			box-shadow: 0 5px 10px #888;
		};

		&:active {
			box-shadow: 0 0px 1px #888;
		};
	}
}