<div id="filter">
	<div ng-repeat="category in filter.categories">
		<h4>{{category  === 'thc' ? 'tier' : category }}</h4>
		<ul>
			<li ng-repeat="val in filter.filterCategories[category] track by $index">
				<label>
						<input type="checkbox" ng-checked="filter.filterSelection.includes(val)" ng-change="filter.toggleFilterInclusion(val)" ng-model="filter.model[val]" />
				</label>
				
				{{val}}
			</li>
		</ul>
	</div>
</div>