#filter {
	padding: 40px;
	box-shadow: 1px 1px 5px #ccc;

	@include medium-screens-only {
		display: flex;
	}

	> div {
		@include medium-screens-only {
			flex-grow: 1;
		}
	}

	li {
		list-style: none;
	}
	ul {
		padding-left: 5px;
	}
}