#contact {

	input {
		width: 100%;
	}

	button {

		float: right;
		transition: box-shadow 0.3s ease-in-out;
		box-shadow: none;
		background-color: white;
		border: 1px solid #888;
		border-radius: 2px;
		width: 120px;
		margin-right: 13px;
		height: 40px;

		&:hover {
			box-shadow: 0 5px 10px #888;
		};

		&:active {
			box-shadow: 0 0px 1px #888;
		};
	}
}