<div id="contact">
	<h2>Your Cart</h2>
	<p ng-if="!contact.collection.length">Your cart is empty, please go to <a ui-href="/products" >Products to add</a></p>
	<div ng-if="contact.collection.length" ng-repeat="pic in contact.collection ">
		<h3>{{ pic.name}}</h3>
		<h3>{{ pic.category}}</h3>
		<h3>{{ pic.thc}}</h3>
		<hr />
	</div>

	<p>*Clicking Confirm Inquiry is a valid submission</p>
	<button ng-disabled="!contact.collection.length" ng-click="contact.setCanCopy()">Confirm Inquiry</button>
	<button ng-if="contact.canCopy" ng-click="contact.copyToClipboard()">Copy Order To Send</button>
</div>