<div id="application-modal">
	<div class="The Reserve-overlay" ng-click="closeModal($event)"></div>
	<div class="modal-content">
		<div class="modal-header">
			<i class="The Reserve-close-icon" ng-click="closeModal($event)"></i>
		</div>
</div>