<div id="employment-modal">
	<div class="The Reserve-overlay" ng-click="closeModal($event, productDetails)"></div>
	<div class="modal-content">
		<div class="RadioButtons">
			
			<label>Position 1
				<input type="radio" name="radiobutton">
			</label>	
		</div>
		<hr>
		<input type="file" name="resume">
		<sub>Please insert only PDF files</sub>
		<carousel header="productDetails.name" images="productDetails.images" ></carousel>
	</div>
</div>