<div id="product-modal">
    <div class="reserve-overlay" ng-click="closeModal($event)"></div>
    <div class="modal-content">
        <div class="modal-header">
            <carousel header="productDetails.name" images="productDetails.images" isManual="true"></carousel>
        </div>
        <h1>hey this is {{productDetails.name}}</h1>
    </div>
</div>