@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ib66z2');
  src:  url('fonts/icomoon.eot?ib66z2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ib66z2') format('truetype'),
    url('fonts/icomoon.woff?ib66z2') format('woff'),
    url('fonts/icomoon.svg?ib66z2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn SC';
  src:  url('fonts/vol-fonts/VollkornSC-Regular.ttf');
  src: url('fonts/vol-fonts/VollkornSC-Regular.ttf') format('ttf'),
   url('fonts/vol-fonts/VollkornSC-Regular.ttf') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
  content: "\e922";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-angry2:before {
  content: "\e9ee";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}

/*Custom Icons*/
.The Reserve-down-arrow {
    border-bottom: 3px solid;
    border-right: 3px solid;
    height: 17px;
    width: 17px;
    transition: 300ms linear all;
    transform: rotate(45deg);
}

/*Global Css*/
html, body {
  font-family: 'Vollkorn SC', serif !important;
}

body {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fbfafa;
    background-color: #F5F5F5;
  }


  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

.clearfix{
	overflow: auto;
}	
.dropzone {
  position: relative;
  height: 200px;
  border: 2px dashed #b3b3b3;
  border-radius: 4px;
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone .msg{
	font-size: 20px;
	font-weight: bold;
	color: #c3c3c3;
	padding: 0 10px;
}
input.fileUpload{
	display: none;
}
.preview{
	margin: 10px 0;
	padding: 5px;
}
.previewData img{
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
} 
.previewDetails{
	 display: inline-block;
    float: left;
    margin: 5px;
    padding: 8px;
}
.detail{
	  font-family: arial;
    padding: 5px;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.previewControls{
	display: inline-block;
	float: left;
	margin: 40px 30px;
}
.circle{
	border: 2px solid #5B93F5;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 5px;
    cursor: pointer;
    color: #5B93F5;
}

.circle.upload {
  background-color: green;
}

.circle.upload:hover{
  border: 2px solid green;
  	
}
.circle.upload:hover i.fa-check{
	color: green;
}
.circle.remove:hover{
  border: 2px solid red;	
}
.circle.remove:hover i.fa-close{
	color: red;
}

.circle.remove {
	background-color: red;
}

.circle i{
	position: relative;
	font-size: 14px;
}
.circle i.fa-check{
	top: 3px;
	left: 5px;
}
.circle i.fa-close{	
	top: 2px;
	left: 7px;
}
