<div id="login">
	<h2>
		Please Login
	</h2>
	<label>
		Username
		<input class="form-control" ng-model="login.formData.username" />
	</label>
	<label>
		Password
		<input class="form-control" type="password" ng-model="login.formData.password"/>
	</label>
	<button ng-click="login.login()">Login</button>
</div>