#login {
	padding: 20px;
	text-align: center;
	h1 {
		text-align: center;
		font-family: 'Vollkorn SC', serif;
	}

	.history {
		display: flex;
		div {
			flex: 1;
			position: relative;
			p {
				width: 100%;
			}
		}

		@include small-screens-only {
			display: block;

			img {
				display: block;
				margin: 0 auto;
				margin-bottom: 10px;
			}
		}

	}
}